<div class="container">
  <h2>ユーザ情報変更</h2>
  <div class="row">
    <div class="offset-3 col-6">
      <%= form_with(model: @user, local: true) do |f| %>
        <div class="form-group">
          <div class="row">
            <%= f.label "名前", class:"col-5 col-form-label" %>
            <%= f.text_field :name, class:"col-7 form-control", autofocus: true %>
          </div>
          <small class="form-text text-right is-valid" id="name_count">0/20</small>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label "ユーザーid", class:"col-5 col-form-label" %>
            <%= f.text_field :elastic_id, class:"col-7 form-control" %>
          </div>
        <small class="form-text text-right" id="id_validation"></small>
        </div>

        <div class="form-group row">
          <%= f.label "通知コンテンツ", class:"col-5 col-form-label" %>
          <%= f.select :notification_type, [['新規フォロワー・フォロワーの投稿', 0], ['新規フォロワーのみ', 1], ['フォロワーの投稿のみ', 2]], {}, {class: "col-7 form-control"} %>
        </div>

        <div class="form-group row">
            <%= f.submit "情報変更", class: "btn btn-info offset-5 col-2" %>
        </div>

        <div class="text-center">
          <%= link_to "退会する", user_path(@user), method: :delete, class: "btn btn-danger", data:
              { confirm: "登録している本棚、書籍は全て削除されます",
                cancel: "やめる",
                commit: "退会する"
              }, title: "本当に退会してもよろしいですか？" %>
        </div>
      <% end %>
    </div>
  </div>
</div>