<div class="container">
  <div class="row">
  <h3><i class="fas fa-home">ホーム</i></h3>
    <table class="table table-bordered">
      <% @contents.each do |content| %>
        <tbody>
          <% if content.class.name == "UserTitle" %>
            <tr class="table-active">
              <td class="text-center" style="width:6%">書籍</td>
              <td>
                <%= link_to user_path(content.user), class: "text-body" do %>
                  <u><%= content.user.name %><small>@<%= content.user.elastic_id %></small></u>
                <% end %>
              </td>
              <td>
                <%= link_to user_title_path(content), class: "text-body" do %>
                  <u><%= content.title.name %>(<%= content.volumes.count %>冊)</u>
                <% end %>
              </td>
              <td style="width:15%"><%= content.created_at.strftime("%Y-%m-%d-%H-%S") %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>