<div class="container">
  <div class="row">
    <h2><%= current_user.name %>さんの所持シリーズ一覧</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>シリーズ名</td>
          <td>著者</td>
          <td>出版社</td>
          <td>所持巻数</td>
          <td>登録本棚</td>
        </tr>
      </thead>
      <tbody>
        <% if @user_titles.present? %>
          <% @user_titles.each_with_index do |user_title,i| %>
            <tr id="row-<%= i %>" class="user_title">
              <td><%= user_title.title.name %></td>
              <td><%= user_title.title.author %></td>
              <td><%= user_title.title.publisher %></td>
              <td></td>
              <td>
                <% if user_title.book_shelf %>
                  <%= user_title.book_shelf.name %>
                <% else %>
                  未登録
                <% end %>
              </td>
              <div id="tag-info-<%= i %>" data-id="<%= user_title.id %>"></div>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>