<div class="container">
  <div class="row">
    <h2>所持シリーズ一覧(<%= @user_titles.count %>シリーズ/<%= current_user.total_books %>冊)</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>シリーズ名</th>
          <th>著者</th>
          <th>出版社</th>
          <th class="text-center" style="width: 10%">所持巻数</th>
          <th class="text-center" style="width: 10%">登録本棚</th>
        </tr>
      </thead>
      <tbody>
        <% if @user_titles.present? %>
          <% @user_titles.each_with_index do |user_title,i| %>
            <tr id="row-<%= i %>" class="user_title">
              <td><%= user_title.title.name %></td>
              <td><%= user_title.title.author %></td>
              <td><%= user_title.title.publisher %></td>
              <td class="text-center"><%= user_title.volumes.count %></td>
              <td class="text-center">
                <% if user_title.book_shelf %>
                  <%= user_title.book_shelf.name %>
                <% else %>
                  未登録
                <% end %>
              </td>
              <div id="tag-info-<%= i %>" data-id="<%= user_title.id %>"></div>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="offset-6">
  <%= form_with(url: update_all_titles_path, method: :patch, local: true) do |f| %>
    <div class="form-gruop row">
      <label>本棚選択</label>
      <%= collection_select :BookShelf, :chosen_id, current_user.book_shelves, :id, :name, {prompt: false},class: "custom-select" %>
    </div>
    <div class="form-group row">
      <label>本棚一括変更(色付きが登録対象)</label>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>シリーズ名</th>
            <th class="text-center" style="width:25%">現在の本棚</th>
          </tr>
        </thead>
        <tbody>
          <% @user_titles.each_with_index do |user_title,i| %>
            <tr class="title_all" data=<%= user_title.id %> id="title-<%= i %>">
              <td><%= user_title.title.name %></td>
              <td class="text-center">
                <% if user_title.book_shelf %>
                  <%= user_title.book_shelf.name %>
                <% else %>
                  未登録
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= hidden_field_tag :numbers, "", {id: "numbers"} %>
    </div>
    <div class="form-group text-center">
      <%= f.submit "この本棚に登録", class: "btn btn-success" %>
    </div>
  <% end %>
  </div>
</div>