<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div id= "title-info" value="<%= @user_title.volumes.max %>" data="<%= @user_title.volumes_shortage.to_json %>"></div>
        <h2>
          <%= @user_title.title.name %>(<%= @user_title.volumes.count %>冊)
          <%= link_to "削除", user_title_path, method: :delete, class:"btn btn-danger", data:
            { confirm: "登録している各巻も全て削除されます",
              cancel: "やめる",
              commit: "削除する"
            }, title: "シリーズを削除する" %>
        </h2>
        <table class="table table-bordered">
          <tr>
            <th style="width: 25%">シリーズ名</th>
            <td><%= @user_title.title.name %></td>
          </tr>
          <tr>
            <th>著者名</th>
            <td><%= @user_title.title.author %></td>
          </tr>
          <tr>
            <th>出版社</th>
            <td><%= @user_title.title.publisher %></td>
          </tr>
          <tr>
            <th>登録本棚</th>
            <td>
              <% if @user_title.book_shelf.present? %>
                <%= link_to book_shelf_path(@user_title.book_shelf) do %>
                  <%= @user_title.book_shelf.name %>
                <% end %>
              <% else %>
                未登録
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <%= form_with(model: @user_title, local: true) do |f| %>
        <h3>所持巻数(色付きが所持)</h3>
        <%# 抜け巻数を表示する %>
        <% if @user_title.volumes_shortage.blank? %>
          <p>1巻から<%= @user_title.volumes.max %>巻まで全て所持</p>
        <% end %>
        <table class="table table-sm table-bordered">
        <% (1..@title_count[0]).each_with_index do |i| %>
          <tr>
            <% if i < @title_count[0] %>
              <% (1..10).each do |n| %>
                <td class="text-center table-primary" id="number-<%= n + (i - 1) * 10 %>">
                  <%= n + (i - 1) * 10 %>
                </td>
              <% end %>
            <% else %>
              <% (1..@title_count[1]).each do |n| %>
                <td class="text-center table-primary" id="number-<%= n + (i - 1) * 10 %>">
                  <%= n + (i - 1) * 10 %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        <%= hidden_field_tag :numbers, "", {id: "numbers"} %>
        </table>
        <label>巻数の追加(<%= @user_title.volumes.max + 1 %>巻から)</label>
        <div class="form-group">
          <%= text_field_tag :end_vol, "", {class: "form-control col-3", id: "end-volume"} %>
          <small id="end-alert"></small>
        </div>
        <% if @book_shelves %>
        <div class="row">
          <h4>
            <%= radio_button_tag :option, "choice" %>
            本棚を変更する
          </h4>
          <table class="table table-borderless text-center col-8">
            <tr>
              <th>現在</th>
              <th>変更先</th>
            </tr>
            <tr>
              <td>
                <% if @user_title.book_shelf.present? %>
                  <%= @user_title.book_shelf.name %>
                <% else %>
                  未登録
                <% end %>
              </td>
              <td>
                <%= f.collection_select :book_shelf_id, @book_shelves, :id, :name, {prompt: false}, {class: "form_choice custom-select col-6 mx-sm-3"} %>
              </td>
            </tr>
          </table>
        </div>
        <% end %>
        <div class="form-group row">
          <h4>
            <%= radio_button_tag :option, "new" %>
            新規本棚に登録する
          </h4>
          <%= text_field_tag :name, "", class: "form_new form-control col-5 mx-sm-3"%>
        </div>
        <div class="form-group text-center">
          <%= f.submit "情報を変更する", class: "btn btn-success", id: "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>